// *[ [ [ _colors.scss ] ] ]
// !This is all the color variables!

// [ Basics, for high contrast ]
$black: #000;
$white: #fff;
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;

// [ Thematic colors ]
$aa_red: #732306;
$aa_orange: #F28A5C;
$aa_white: #ECE8DD;
$aa_grey: #A49582;
$aa_blue: #2989BC;
$aa_wood: #AE9135;
$edgeworth: #592538;

// [ Shadows! ]
$shadow_blue: rgba(45, 45, 235, 0.65);
$shadow_black: rgba(0, 0, 0, 0.65);